.fl-restartMessage {
    margin-bottom: 8px;
    padding: 8px;
    background-color: #dcf0fa;
    border-left: 4px solid #034ea3;
}

.fl-restartMessage .fl-restartIcon {
    position: relative;

    float: left;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: #034ea3;
}

.fl-restartMessage .fl-restartIcon:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    content: "!";
}

.fl-restartMessage .fl-restartText {
    padding-left: 54px;
}

.fl-restartMessage .fl-restartControls {
    margin-top: 8px;
}

.fl-restartMessage .fl-restartMessageBtn {
    float: right;
    margin-left: 16px;

    font-weight: bold;
    color: #558bc4;
    cursor: pointer;
}
